* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-color: #1e1e21;
  font-family: Satoshi, sans-serif;
  font-size: 16px;
  line-height: 1;
}

.orbit-overflow-hidden {
  padding-bottom: 200px;
  overflow: hidden;
}

.section-hero {
  height: 100vh;
  min-height: 1280px;
  margin-top: 112px;
  position: relative;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.intro-block {
  z-index: 4;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.display-1 {
  text-align: center;
  letter-spacing: -0.2px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.07);
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    145deg,
    #fff 65%,
    rgba(255, 255, 255, 0.43)
  );
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.08;
}

.display-paragraph {
  color: #bdbdc0;
  text-align: center;
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 500;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.button-primary-icon {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 32px;
  align-items: center;
  padding: 10px 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: border-color 0.2s;
  display: flex;
  overflow: hidden;
}

.button-icon {
  width: 20px;
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
}
img {
  max-width: 100%;
  display: inline-block;
  position: static;
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.primary-button-text {
  font-size: 15px;
  font-weight: 600;
}
.solar-system {
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  padding-bottom: 0;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.diagram-galaxy-logo {
  z-index: 100;
  width: 190px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: -4px;
}
.galaxy-logo-face {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: relative;
}
.galaxy-logo-circle.galaxy-circle {
  background-image: linear-gradient(#fff, #cfcfcf);
  border-radius: 100%;
}
.galaxy-logo-circle {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.d-cutout {
  z-index: 500;
  width: 72px;
  height: 140px;
  position: absolute;
  top: 24px;
  left: 92px;
}
.mask.right {
  width: 160px;
  height: 80px;
  background-color: #0606ff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  top: 17px;
}

.mask {
  z-index: 1;
  width: 100%;
  height: 25px;
  background-color: #473d7c;
  position: absolute;
  top: 25px;
}

.galaxy-logo-circle.galaxy-circle.back {
  z-index: 0;
  box-shadow: none;
  background-color: #656566;
  background-image: none;
  border-radius: 100%;
  position: absolute;
  bottom: -8px;
}

.galaxy-logo-circle.galaxy-circle {
  background-image: linear-gradient(#fff, #cfcfcf);
  border-radius: 100%;
}

.galaxy-logo-circle {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.diagram-button {
  display: none;
}

.diagram-planet {
  z-index: 200;
  position: relative;
  bottom: -12px;
}
.orbit-div {
  z-index: 0;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.solar-blur-top {
  z-index: 2;
  width: 520px;
  height: 290px;
  filter: blur(15px);
  background-color: #19191b;
  border-radius: 150px;
  display: none;
  position: absolute;
  top: -178px;
}

.orbit-1 {
  z-index: 2;
  width: 266px;
  height: 266px;
  background-image: url(https://uploads-ssl.webflow.com/6408bea…/6408d31…_orbit-01.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}



